ul,li {
  list-style: none;
  padding: 0;
}
#content {
  max-width: 980px;
  margin: 0 auto;
}
/* アコーディオン */
#accordion {
  width: 100%;
  max-width: 350px;
}
#accordion .accordionMenuContent.display {
  display: none;
}
#accordion .accordionMenuContent {
  padding: 10px;
}
#accordion .accordionMenu{
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  height: 50px;
  background: #f5f7ff;
  position: relative;
}
#accordion .accordionMenu::after{
  content: "\f107";
  font-family: FontAwesome;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
  background: #AEBCEE;
  color: white;
  cursor: pointer;
}
/* タブ */
#tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
}
#tabs .tab:first-child{
  color: black;
  background: white;
  cursor: auto;
}
#tabs .tab {
  padding: 10px 15px;
  background: #AEBCEE;
  color: white;
  border-top: solid 1px #EEE;
  border-right: solid 1px #EEE;
  border-left: solid 1px #EEE;
  cursor: pointer;
}
#tabContents {
  max-width: 650px;
  margin-top: 0;
  padding: 20px;
  background: #FFF;
  border: solid 1px #EEE;
  box-sizing: border-box;
}
#tabContents .tabContent.display{
  display: none;
}
/* モーダル */
#modal {
  position: relative;
}
.modalArea {
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modalArea.display {
  display: flex;
}
.modalArea .modalContent {
  background: #FFF;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modalArea .modalContent::after {
  content: "×";
  font-family: FontAwesome;
  font-size: 35px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
#slide {
  overflow: hidden;
  width: 500px;
  border: solid 1px #EEE;
  margin: 20px 0;
}
#slide .slideContent{
  display: flex;
}
#slide img {
  width: 100%;
}
#lording {
  max-width: 980px;
}
#lording img{
  width: 200px;
  opacity: 0;
}
#lording img.setAnimation{
  animation-name: lording;
  animation-duration: 2s;
  opacity: 1 !important;
}
@keyframes lording{
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
/* ハンバーガーメニュー */
#mobileArea {
  border: solid 1px #EEE;
  width: 400px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
#lineMenu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}
.line {
  position: relative;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  border-radius: 25px;
  background: #000;
  transition-duration: 0.5s;
}
.line:nth-child(1).transform {
  transform: translateY(20px) rotate(45deg);
}
.line:nth-child(2).transform {
  transform: translateY(5px) translateX(-50%);
  opacity: 0;
}
.line:nth-child(3).transform {
  transform: translateY(-10px) rotate(-45deg);
}
#lineMenuContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 30px;
  background: #EEE;
  transform: translateX(100%);
}
#lineMenuContent.transform {
  transform: translateX(0%);
  transition-duration: 1s;
}
